.availability-form-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.react-datepicker {
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-datepicker__navigation {
  top: 20px;
}

.react-datepicker__header {
  background-color: white;
  border-bottom: none;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-size: 0.944rem;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 2.5rem;
  line-height: 2.5rem;
  margin: 0.166rem;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  border-radius: 50%;
  background-color: #007bff;
  color: white;
}

.react-datepicker__day:hover,
.react-datepicker__day--keyboard-selected {
  background-color: #e0f0ff;
}

.react-datepicker-wrapper input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.date-picker input {
  cursor: pointer;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Button styles */
.add-room-type-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #08edfd;
  cursor: pointer;
  text-align: center;
}

.add-room-type-btn:hover,
.submit-btn:hover {
  background-color: darken(#007bff, 10%);
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.submit-btn {
  font-size: 16px;
  margin-top: 20px;
}


@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}